#countLabel{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
    border: 2px solid darkcyan;
    width: 60%;
    margin: 0 auto;
}
#btnContainer{
    text-align: center;

}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: cadetblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: darkcyan;
}